.history {
  max-width: 800px;
  margin: 0 auto;
}

.history-list {
  display: grid;
  gap: 1rem;
  margin-top: 2rem;
}

.history-item {
  position: relative;
  background: white;
  padding: 1rem;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.history-date {
  font-weight: bold;
  margin-bottom: 0.5rem;
}
.empty-history {
  text-align: center;
  padding: 3rem;
  background: white;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin-top: 2rem;
}

.empty-history p:first-child {
  font-size: 1.2rem;
  font-weight: bold;
  margin-bottom: 0.5rem;
}

.empty-history p:last-child {
  color: #666;
}
.delete-button {
  position: absolute;
  top: 10px;
  right: 10px;
  background: none;
  border: none;
  cursor: pointer;
  color: #666;
  padding: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  transition: all 0.2s ease;
}

.delete-button:hover {
  background-color: #ff00001a;
  color: #ff0000;
}

.delete-button svg {
  width: 20px;
  height: 20px;
}
